<nav>
  <div class="container">
    <div class="menu">
      <div class="left-menu">
        <ul>
          <li>
            <a href="">Our Products</a>
          </li>
          <li><a href="">About us</a></li>
        </ul>
      </div>
      <div class="menu-button">
        <button
          (click)="showOrhidePincodeform()"
          [ngClass]="{manuicons}"
          (click)="show()"
        >
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="logo">
        <img
          src="https://cdn.tailorstore.com/ui/gefjun/TailorStore-logo-gold-nopayoff.svg"
          alt=""
        />
      </div>
      <div class="right-menu">
        <ul>
          <li><a class="mobile-n" href="">Get Measured</a></li>
          <li>
            <a href=""><i class="fa fa-user"></i></a>
          </li>
          <li>
            <a href=""><i class="fa fa-heart"></i></a>
          </li>
          <li>
            <a href=""><i class="fa fa-shopping-bag"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<section class="hero-head">
  <div class="container">
    <p>Buy 2-3 tailored items get 10% off</p>
    <p>Buy 4 or more tailored items get 20% off</p>
    <p class="pra">
      * Offer can not be combined with other offers and is only valid on
      custom-tailored items
    </p>
  </div>
</section>

<section class="banner">
  <div class="container">
    <div class="banner-info">
      <h1>
        A few simple steps towards <br />
        your perfect fit
      </h1>
      <div class="imges-rate">
        <img src="https://cdn.tailorstore.com/trustpilot/4.5.svg" alt="" />
        <h4>4.7 of 5</h4>

        <img
          class="mobile-n"
          src="
                https://cdn.tailorstore.com/trustpilot/trustpilot-logo-inverse.svg"
          alt=""
        />
        <img
          class="mobile-d"
          src="https://cdn.tailorstore.com/trustpilot/trustpilot-logo.svg"
          alt=""
        />
      </div>
      <a href="">Get Start Now</a>
    </div>
  </div>
</section>
<div class="hero-alam">
  <div class="container">
    <ul>
      <li>
        <a href=""><i class="fa fa-check"></i>Made to Measure</a>
      </li>
      <li>
        <a href=""><i class="fa fa-check"></i>Free shoping to Australia</a>
      </li>
      <li>
        <a href=""><i class="fa fa-check"></i>Fast Delivery</a>
      </li>
      <li>
        <a href=""><i class="fa fa-check"></i>Perfect Fit Guarantee</a>
      </li>
    </ul>
  </div>
</div>
<div class="hero-alam-mobile">
  <div class="container">
    <div class="iteam">
      <h2><i class="fa fa-check"></i>Made to Measure</h2>
      <h2><i class="fa fa-check"></i>Free shoping to Australia</h2>
      <h2><i class="fa fa-check"></i>Fast Delivery</h2>
      <h2><i class="fa fa-check"></i>Perfect Fit Guarantee</h2>
    </div>
  </div>
</div>
<section class="about">
  <div class="container">
    <div class="about-wrap">
      <div class="about-info">
        <h1>It's all in the measurements</h1>
        <p>
          We use advanced technology to provide you with the fit of a
          lifetime.<br />
          It's time to leave unflattering off-the-rack sizes behind and join
          a<br />
          personalized future. It's time you start wearing high-quality
          clothes<br />
          made only for you.
        </p>
      </div>
      <div class="about-list">
        <div class="items">
          <div class="imge">
            <img
              src="https://images.tailorstore.com/YToyOntzOjU6IndpZHRoIjtzOjM6IjIwMCI7czo2OiJoZWlnaHQiO3M6MDoiIjt9/images/cms/ts-design-icon-2022.jpg"
              alt=""
            />
          </div>
          <div class="info">
            <h2>1. Browse our selection</h2>
            <p>
              Browse from our ready-made examples or <br />
              create your own with our design tool.
            </p>
          </div>
        </div>
        <div class="items">
          <div class="imge">
            <img
              src="https://images.tailorstore.com/YToyOntzOjU6IndpZHRoIjtzOjM6IjIwMCI7czo2OiJoZWlnaHQiO3M6MDoiIjt9/images/cms/ts-measure-icon-2022.jpg"
              alt=""
            />
          </div>
          <div class="info">
            <h2>2. Create your custom size</h2>
            <p>
              Create your custom size in no-time using<br />
              our quick and easy measuring tools.
            </p>
          </div>
        </div>
        <div class="items">
          <div class="imge">
            <img
              src="https://images.tailorstore.com/YToyOntzOjU6IndpZHRoIjtzOjM6IjIwMCI7czo2OiJoZWlnaHQiO3M6MDoiIjt9/images/cms/ts-guarantee-icon-2022.jpg"
              alt=""
            />
          </div>
          <div class="info">
            <h2>3. A perfect fit guaranteed</h2>
            <p class="pra">
              Browse from our ready-made examples or create your <br />own with
              our design tool.
            </p>
            <a href="">get start now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="news">
  <h2>Latest news</h2>
  <div class="img-wrap">
    <div class="items">
      <img
        src="https://images.tailorstore.com/YToyOntzOjU6IndpZHRoIjtzOjM6IjUwMCI7czo2OiJoZWlnaHQiO3M6MDoiIjt9/images/cms/Tailorstore-parker-minor.jpg"
        alt=""
      />
      <h1>Your favorite T-shirt</h1>
      <p>New colors added for the summer season</p>
    </div>
    <div class="items">
      <img
        src="https://images.tailorstore.com/YToyOntzOjU6IndpZHRoIjtzOjM6IjUwMCI7czo2OiJoZWlnaHQiO3M6MDoiIjt9/images/cms/tailor-store-minor-summer-wardrobe.jpg"
        alt=""
      />
      <h1>Your summer wardrobe</h1>
      <p>Update your summer wardrobe with our style guide</p>
    </div>
    <div class="items">
      <img
        src="https://images.tailorstore.com/YToyOntzOjU6IndpZHRoIjtzOjM6IjUwMCI7czo2OiJoZWlnaHQiO3M6MDoiIjt9/images/cms/ts-latest-skiathos-2022.jpg"
        alt=""
      />
      <h1>Somerset</h1>
      <p>Exclusive prints for summer</p>
    </div>
    <div class="items">
      <img
        src="https://images.tailorstore.com/YToyOntzOjU6IndpZHRoIjtzOjQ6IjEwMDAiO3M6NjoiaGVpZ2h0IjtzOjA6IiI7fQ%3D%3D/images/cms/ts-somerset-major-2.jpg"
        alt=""
      />
      <h1>Hello summer</h1>
      <p>Light and airy shirt fabrics for warmer days</p>
    </div>
  </div>
</section>

<section class="banner-video">
  <div class="container">
    <h1>Standard sizes VS. Tailor Store</h1>
  </div>
</section>

<section class="bestsell">
  <h1>Our BestSellers</h1>
  <div class="imgwrap">
    <div class="items">
      <img
        src="https://images.tailorstore.com/YToyOntzOjU6IndpZHRoIjtpOjUzMDtzOjY6ImhlaWdodCI7YjowO30%3D/images/catalog/13343-olympia-white-men-s-shirt-2db1b3-folded-tailor-store.jpg"
        alt=""
      />
      <p>
        White Non-Iron business shirt<br />
        <span>Olympia, white</span>
      </p>
      <div class="rate">
        <img
          src="https://cdn.tailorstore.com/ui/gefjun/stars-gold.svg"
          alt=""
        />
        <h2>INR 192</h2>
      </div>
      <div class="button">
        <button>Customize</button>
        <a href=""><i class="fa fa-shopping-bag"></i></a>
      </div>
    </div>
    <div class="items">
      <img
        src="https://images.tailorstore.com/YToyOntzOjU6IndpZHRoIjtpOjUzMDtzOjY6ImhlaWdodCI7YjowO30%3D/images/catalog/Tailor-Store-Bennet-khaki-01.jpg"
        alt=""
      />
      <p>
        White Non-Iron business shirt<br />
        <span>Olympia, white</span>
      </p>
      <div class="rate">
        <img
          src="https://cdn.tailorstore.com/ui/gefjun/stars-gold.svg"
          alt=""
        />
        <h2>INR 192</h2>
      </div>
      <div class="button">
        <button>Customize</button>
        <a href=""><i class="fa fa-shopping-bag"></i></a>
      </div>
    </div>
    <div class="items">
      <img
        src="https://images.tailorstore.com/YToyOntzOjU6IndpZHRoIjtpOjUzMDtzOjY6ImhlaWdodCI7YjowO30%3D/images/catalog/13343-olympia-white-men-s-shirt-2db1b3-folded-tailor-store.jpg"
        alt=""
      />
      <p>
        White Non-Iron business shirt<br />
        <span>Olympia, white</span>
      </p>
      <div class="rate">
        <img
          src="https://cdn.tailorstore.com/ui/gefjun/stars-gold.svg"
          alt=""
        />
        <h2>INR 192</h2>
      </div>
      <div class="button">
        <button>Customize</button>
        <a href=""><i class="fa fa-shopping-bag"></i></a>
      </div>
    </div>
    <div class="items">
      <img
        src="https://images.tailorstore.com/YToyOntzOjU6IndpZHRoIjtpOjUzMDtzOjY6ImhlaWdodCI7YjowO30%3D/images/catalog/Heritance-dark-gray-melange-short-sleeved-2.jpg"
        alt=""
      />
      <p>
        White Non-Iron business shirt<br />
        <span>Olympia, white</span>
      </p>
      <div class="rate">
        <img
          src="https://cdn.tailorstore.com/ui/gefjun/stars-gold.svg"
          alt=""
        />
        <h2>INR 192</h2>
      </div>
      <div class="button">
        <button>Customize</button>
        <a href=""><i class="fa fa-shopping-bag"></i></a>
      </div>
    </div>
    <div class="items">
      <img
        src="https://images.tailorstore.com/YToyOntzOjU6IndpZHRoIjtpOjUzMDtzOjY6ImhlaWdodCI7YjowO30%3D/images/catalog/13343-olympia-white-men-s-shirt-2db1b3-folded-tailor-store.jpg"
        alt=""
      />
      <p>
        White Non-Iron business shirt<br />
        <span>Olympia, white</span>
      </p>
      <div class="rate">
        <img
          src="https://cdn.tailorstore.com/ui/gefjun/stars-gold.svg"
          alt=""
        />
        <h2>INR 192</h2>
      </div>
      <div class="button">
        <button>Customize</button>
        <a href=""><i class="fa fa-shopping-bag"></i></a>
      </div>
    </div>
    <div class="items">
      <img
        src="https://images.tailorstore.com/YToyOntzOjU6IndpZHRoIjtpOjUzMDtzOjY6ImhlaWdodCI7YjowO30%3D/images/catalog/13343-olympia-white-men-s-shirt-2db1b3-folded-tailor-store.jpg"
        alt=""
      />
      <p>
        White Non-Iron business shirt<br />
        <span>Olympia, white</span>
      </p>
      <div class="rate">
        <img
          src="https://cdn.tailorstore.com/ui/gefjun/stars-gold.svg"
          alt=""
        />
        <h2>INR 192</h2>
      </div>
      <div class="button">
        <button>Customize</button>
        <a href=""><i class="fa fa-shopping-bag"></i></a>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="footer-wrap">
      <div class="footer-menu">
        <ul>
          <li>
            <a href="">The Tailor's Guide</a>
          </li>
          <li>
            <a href="">Contact us</a>
          </li>
          <li>
            <a href="">FAQ</a>
          </li>
          <li>
            <a href="">Press</a>
          </li>
        </ul>
      </div>
      <div class="footer-menu">
        <ul>
          <li>
            <a href="">Shipping information</a>
          </li>
          <li>
            <a href="">Privacy policy</a>
          </li>
          <li>
            <a href="">Terms & Conditions</a>
          </li>
          <li>
            <a href="">Gift Certificates</a>
          </li>
        </ul>
      </div>
      <div class="footer-menu">
        <h2>Latest news & Exclusive <br />offers</h2>
        <button>Become a member</button>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="social-media">
        <ul>
          <li>
            <a href=""><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a href=""><i class="fa fa-instagram"></i></a>
          </li>
          <li>
            <a href=""><i class="fa fa-twitter"></i></a>
          </li>
        </ul>
      </div>
      <div class="reserved">
        <p>
          Copyright © 2003-2022 Tailor Store Sweden AB. All rights reserved.<br />
          All works are property of their respective owners and may not be used
          elsewhere without written permission.
        </p>
      </div>
      <div class="pay">
        <div class="pay-img">
          <img
            src="https://cdn.tailorstore.com/payment/white/visa-mastercard.svg"
            alt=""
          />
        </div>
        <div class="pay-img">
          <img
            src="https://cdn.tailorstore.com/payment/white/paypal.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</footer>
